dist/*
.vscode
.clang-format
.clangd
.editorconfig
.env
.ufbt
*.code-workspace

# assets already in the gfx folder
/images/*_shape.png
/images/*_fill.png
/images/*_outline.png
/images/room.png

# these are here for demonstration purposes
!/images/dootie_IDLE_*_shape.png
!/images/dootie_IDLE_*_fill.png
!/images/dootie_IDLE_*_outline.png
